Source: com.github.naaando.rush
Maintainer: Fernando da Silva Sousa <wild.nando@gmail.com>
Section: sound
Priority: optional
Standards-Version: 4.1.4
Homepage: https://github.com/naaando/rush
Build-Depends: debhelper (>=10),
               libcanberra-dev,
               libgee-0.8-dev,
               libglib2.0-dev,
               libgtk-3-dev,
               libjson-glib-dev,
               libunity-dev,
               meson,
               valac,
               gettext,

Package: com.github.naaando.rush
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Pre-Depends: dpkg (>= 1.15)
Description: Time manager app to break your work into intervals to keep you focused.
